table {
    width: 100%;
}

td {
    text-align: center;
}

th {
    cursor: pointer;
}

tr {
    background-color: rgb(244, 245, 189);
    cursor: pointer;
}

tr:hover {
    background-color: azure;
}