table {
    width: 100%;
    user-select: none;
}

td {
    text-align: center;
    border: solid 2px transparent;
    border-radius: 5px;
    padding: 3px;
    margin: 3px;
}

th {
    background-color: rgb(8, 71, 73);
    color: rgb(224, 224, 224);
    cursor: pointer;
    padding: 3px;
    font-size: 25px;
    border: solid 2px transparent;
}

.th-sort {
    background-color: rgb(8, 71, 73);
    font-size: 15px;
    border: solid 2px transparent;
}

th:hover {
    border-color: red;
    border: solid 2px red;
}

tr {
    background-color: rgb(7, 23, 32);
    cursor: pointer;
    transition: background-color ease 0.35s;
}

tr:hover {
    background-color: rgb(4, 14, 14);
    transition: background-color ease 0.35s;
}

td:nth-child(1), th:nth-child(1) { width: 35%; }
td:nth-child(2), th:nth-child(2) { width: 15%; }
td:nth-child(3), th:nth-child(3) { width: 10%; }
td:nth-child(4), th:nth-child(4) { width: 10%; }
td:nth-child(5), th:nth-child(5) { width: 10%; }
td:nth-child(6), th:nth-child(6) { width: 20%; }